.face-library {
    overflow: auto;
    height: 210px;
    overflow: scroll;
}

.face-library li {
    list-style: none;
}

.face-library li {
    width:100px;
    float:left;
    margin:5px 5px 0 0 ;
}

.face-library li img {
    width: 100px;
}

#cam {
    min-height:240px;
}

.face {
    position: absolute;
    border: 2px solid #FFF;
}

#last {
    position: relative;
}

.photo-booth {
    display:none;
}

.mashup-maker {
    display:none;
}

.active {
    display: block;
}

.mashup-crazy-stop {
    display:none;
}

.face-library-container {

}


